// contact partial 
@use '../base/variables' as *;
@use '../base/mixins' as *;

#contact{
    @include flex-column;
    align-items: center;

    h2{
        text-align: center;
        font-size: 1.25rem;
    }

    @include button-style;
}