@use '../base/variables' as *;
@use '../base/mixins' as *;

header{
    display: none;

    @media(min-width: $desktop){
        display: block;
        background: $gradient-header;
        border-bottom: solid 1px $border-colors;
        .header-wrap{
            @include flex-row;
            justify-content: space-between;
            font-size: $sub-heading-font-size;
            padding: 0 1rem;
            line-height: 1.67rem;
            ul{
                @include flex-row;
    
                a{
                    color: $font-color-nav;
                    padding: 1.67rem 2rem;

                    &:hover{
                        background-color: $nav-hover;
                        transition: background-color .3s;
                    }
                }
                
            }
        }
    }
}