@use '../base/variables' as *;
@use '../base/mixins' as *;

.mobile-nav{
    border-top: solid 1px $border-colors;
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    background: $gradient-header;

    ul{
        padding: .5rem 1rem;
        margin: 0 auto;
        @include flex-row;
        justify-content: space-between;
        text-align: center;
        line-height: 0;
        max-width: 26.5rem;
    }

    a{
        font-family: $font-body;
        font-size: .75rem;

        img{
            width: 3rem;
        }
    }

    @media(min-width: $desktop){
        display: none;
    }
}