@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.about{
    margin: 1rem 0;

    img{
        max-width: 355px;
        object-fit: cover;
        border: 1px solid #656565;
        border-radius: 2px;
        padding: 1rem 1rem 4rem;
        margin: 0 auto;  
        
        @media(min-width: $desktop){
            max-width: 450px;
        }
    }

    .page-intro{
        @include flex-column;
        align-items: center;

        @media (min-width:$desktop){
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;
        }
    }


   .toolbox{
        background: $gradient;
        border: 1px solid #656565;
        border-radius: .5rem;
        font-size: .9em;
        height: 177px;
        overflow: auto;
        margin: 3rem 0;

        h2{
            padding: 0 1rem;
        }

    
        ul{
            @include flex-row;
            flex-wrap: wrap;
            list-style: "\♡ ";
            line-height: 2;

            li{
                padding-right: 2rem;
            }
        }
        
        article{
            padding: 0 1rem;

            h3{
                background: $nav-hover;
                font-size: 1em;
                padding: 1px;
                color: $font-color-main;
                text-align: left;
            }
        }

        @media(min-width: $desktop){
            height: 100%;
        }

   }
   
   
}

