@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.about{
    img{
        max-width: 355px;
        object-fit: cover;
        border: 1px solid #656565;
        border-radius: 2px;
        padding: 1rem 1rem 4rem;
        margin: 0 auto;   
    }

    .page-intro{
        @include flex-column;
        align-items: center;

        @media (min-width:$large-tablet){
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;
        }
    }

    section:nth-child(2) {
        padding-top: 1rem;
        
        h2{ 
            text-align: center;
        }
    }

   section:nth-child(2) div{
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    
        ul{
            padding: .5rem;
            list-style: "\♡";
            line-height: 2;
        }
        
        article{
            padding: 0 1rem;
            max-width: 165px;
        }

   }
   
   
}

