@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.development{
    @media(min-width: $large-tablet){
        @include flex-row;
        justify-content: space-around;
        align-items: center;
        max-width: 898.4px;
        margin: 0 auto;
    }

    @media(min-width:$desktop){
        max-width: 100%;
    }
    
    div:nth-child(1){
        @include flex-column;
        align-items: center;

        @media(min-width:$tablet){
            max-width: 523.2px;
            margin: 0 auto;

            img{
                max-width: 288px;
            }
        }
    }

    

    .card{
        @include flex-column;
        align-items: center;

        a{
            font-size: $sub-heading-font-size;
            text-align: center;
        }

        img{
            width: 100%;
        }

        &.slide{
            @include flex-column;
            align-items: center;

            

            div:nth-child(3){
                display: none;
            }
        }


    }

}