@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.development{
    @include flex-column;
    justify-items: center;
    @media(min-width: $large-tablet){
        @include flex-row;
        justify-content: space-around;
        align-items: center;
        max-width: 898.4px;
        margin: 0 auto;
    }

    @media(min-width:$desktop){
        max-width: 100%;
    }
    
    .page-intro{
        @include flex-column;
        align-items: center;

        @media(min-width:$tablet){
            max-width: 523.2px;
            margin: 0 auto;

            img{
                max-width: 288px;
            }
        }
    }

    div+a:nth-child(2){
        padding: 1.5rem 0 0 0;
    }

    

    .card{
        @include flex-column;
        align-items: center;
        max-width: 345px;
        margin: 0 auto;

        a{
            font-size: $sub-heading-font-size;
            text-align: center;
        }

        div:nth-child(1){
            position: relative;
        }

        .work-blurb{
            @include flex-column;
            align-items: center;
            background-color: #000000c3;
            max-width: 250px;
            padding: 0 0 1rem 0;
            position: absolute;
            opacity: 0;
            transition: opacity .3s ease-in;

            p,
            a{
                color: $main-color;
                font-size: 1rem;
                padding: 0 1rem;
            }

            a:hover{
                border-bottom: 1px solid $main-color;
                transition: border-bottom 5s ease-in;
            }

            //for hover
            &:hover{
                opacity: 100%;
                transition: opacity .3s ease-in;
            }
        }

        //this block is for hiding the project blurb at a certain media query
        &.slide{
            @include flex-column;
            align-items: center;

            div:nth-child(3){
                display: none;
            }
        }


    }

}