@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.intro-section{
    @include flex-column;
    align-items: center;
    padding: 0 0 .5rem 0;
    @media(min-width: $tablet){
        @include flex-row;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    
    position: relative;

    img{
        max-width: 78%;
        @media(min-width: $tablet){
            width: 45%;
            padding-right: 2rem;
        }
    }

    div{
        max-width: 526px;
    }

    &::after{
        content: '♡♡♡';
        letter-spacing: 1rem;
        font-size: 1.5rem;
        color: $main-color;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $font-color-nav;
        position: absolute;
        bottom: -3rem;
        text-align: center;
        @media(min-width: $tablet){
            left: 0;
            right: 0;

        }
    }

    
}

.intro-section + section{
    padding-top: 3rem;
    

    h2{
        font-size: 1.25rem;
        text-align: center;
    }

    nav{
        @media(min-width: $tablet){
            @include flex-row;
            justify-content: space-evenly;
            max-width: 992px;
            margin: 0 auto;
        }
        article{
            margin: 0 auto;
            max-width: 288px;
            @include flex-column;
            align-items: center;

            h3{
                line-height: 1;
                    &::after {
                        content: '→';
                        font-weight: $headings-weight;
                        margin-left: 1rem;
                }
            }
        }
    }
}