// use this for all single page styles
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.back-to-menu{
    padding: 1rem 2rem 1rem 0;

    &::before {
        content: 'â†';
        font-weight: $headings-weight;
        margin-right: 1rem;
    }
}
