// use this for all single page styles
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.back-to-menu{
    padding: 1rem 2rem 1rem 0;

    &::before {
        content: '←';
        font-weight: $headings-weight;
        margin-right: 1rem;
    }
}

.piece-about{
    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    div{
        @include flex-column;
        align-items: center;

        .grey{
            color: $border-colors;
        }

        .button-links{
            @include flex-row;

            @include button-style;
        }
    }
}

.piece-tabs{
    background: $gradient;
    border: 1px solid #656565;
    padding: .5rem 1rem;
    border-radius: .5rem;

    ul{
        list-style: "\♡   ";
        line-height: 2;
    }
}