// use this for all single page styles
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.back-to-menu{
    padding: 1rem 2rem 1rem 0;

    &::before {
        content: '←';
        font-weight: $headings-weight;
        margin-right: 1rem;
    }
}

.piece-about{
    margin: 1rem 0 3rem;

    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        padding-right: 2rem;
    }

    .general-info{
        @include flex-column;
        align-items: center;

        .grey{
            color: $border-colors;
        }

        .button-links{
            @include flex-row;

            @include button-style;
        }
        
        @media(min-width: $tablet){
            @include flex-row;
            justify-content: space-between;

            div{
                max-width: 960px;
            }
        }
    }
}

.piece-tabs{
    background: $gradient;
    border: 1px solid #656565;
    padding: .5rem 1rem;
    border-radius: .5rem;

    ul{
        list-style: "\♡   ";
        line-height: 2;
    }
}

// FOR REACT TAB STYLES I WANT TO CHANGE
.react-tabs__tab-list {
    border-bottom: 1px solid $accent-border;
}

.react-tabs__tab--selected {
    border-color: $accent-border;
}