@use 'variables' as *;

//GENERAL STYLES HERE

// scroller styles

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: $main-color;
}
::-webkit-scrollbar-track {
    background: $main-color;
    border-radius: 0px;
    width: 0px;
    border: 1px dotted #656565;
}
::-webkit-scrollbar-thumb {
    background: $main-color;
    border: 1px solid $border-colors;
    border-radius: 0px;
    background-color: $nav-hover;
}

body{
    // typography
    font-family: $font-body;
    color: $font-color-main;
    line-height: 1.5;

    a{
        font-family: $font-links;
        text-decoration: none;
        color: $font-color-main;
        font-weight: $headings-weight;

        &:hover{
            color: $link-hover;
        }
    }

    h1{
        font-family: $font-heading;
        font-size: $heading-font-size;
    }

    h2,
    .h2,
    h3,
    h4,
    h5,
    h6{
        font-family: $font-heading;
    }
    
    ul{
        list-style: none;
    }
}

#root{
        
    // layout
    display: grid;
    width: 100%;
    grid-template: "head head head head head head"
                    ". main main main main ."
                    "foot foot foot foot foot foot"
    ;

    main{
        padding: 2rem 1rem;
        grid-area: main;
    }

    header{
        grid-area: head;
    }

    footer{
        grid-area: foot;
    }

}