@use 'variables' as *;

//GENERAL STYLES HERE

//cursor styles
 * {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur272.cur), auto !important;
} 
// scroller styles
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: $main-color;
}
::-webkit-scrollbar-track {
    background: $main-color;
    border-radius: 8px;
    width: 0px;
    border: 1px dotted #656565;
}
::-webkit-scrollbar-thumb {
    background: $main-color;
    border: 1px solid $border-colors;
    border-radius: 8px;
    background-color: $nav-hover;
}

body{
    // typography
    font-family: $font-body;
    color: $font-color-main;
    line-height: 1.5;
    //background 
    background: #D7D2D8;;

    a{
        font-family: $font-links;
        text-decoration: none;
        color: $font-color-main;
        font-weight: $headings-weight;

        &:hover{
            color: $link-hover;
        }
    }

    h1{
        font-family: $font-heading;
        font-size: $heading-font-size;
    }

    h2,
    .h2,
    h3,
    h4,
    h5,
    h6{
        font-family: $font-heading;
    }
    
    ul{
        list-style: none;
    }

    p{
        padding: 0 1rem;
    }
}

#root{
    border: 1px solid $border-colors;
    background: $main-color;
    
    @media(min-width: $desktop){
        max-width: 90rem;
        margin: 1rem auto;
    }
    
        
    // layout
    display: grid;

    grid-template: "head head head head head head"
                    ". main main main main ."
                    "foot foot foot foot foot foot"
    ;

    main{
        padding: 2rem 1rem;
        grid-area: main;
    }

    header{
        grid-area: head;
    }

    footer{
        grid-area: foot;
    }

}

.load{
    max-width: 258px;
    margin: 0 auto;
}

.loading-screen{
    height: 100vh;
    display: flex;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}