// variables scss
// ---- Colors ----- //
// backgrounds
$gradient:  linear-gradient(0deg, #faeded 0%, #ffffff 23%, #ffffff 80%, #fffafa 100%);
$gradient-header: radial-gradient(circle, #ffffff 0%, #ffffff 25%, #ffffff 50%, rgba(252,242,246,1) 75%, #fff3f7 100%);
$main-color: #ffffff;
$secondary-color: #FFEFF2;
// accents
$border-colors: #656565;
$accent-border: #FFC0CB;
// typography
$font-color-main: #000000;
$font-color-nav: $border-colors;
$link-hover: #DA7676;
$link-color: $font-color-main;
$nav-hover: #FFF6F6;

// ---- Fonts ----- // 
// load in custom font here
@font-face {
	font-family: 'Basiic' ;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../fonts/basiic.woff); 
}
//headings
$font-heading: 'Times New Roman', Times, serif;
// body
$font-body: 'Basiic', Arial, sans-serif;
//links
$font-links: 'Times New Roman', Times, serif;
$font-nav: 'Basiic', Arial, sans-serif;
//sizes
$body-font-size: 1rem;
$heading-font-size: 2rem;
$sub-heading-font-size: 1.5rem;
//weight
$headings-weight: 700;
$links-wieght: $headings-weight;
$body-weight: 400;

// ---- media queries ---- //
$tablet: 37.5em;
// 768 px -- large tablets
$large-tablet: 48em;
// 1024px  -- laptops
$desktop: 64em;
// 1440px -- large screen
$large-screen: 90em;


